.highlightRow {
}
.highlightRow li {
  padding:4px 8px;
}
.highlightWrap {
  margin: 0px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.optionsWrap {
  display: block;
}
.filterHighlights {
  height: 48px;
  display: block;
  user-select: none;
}
.markerOrb {
  display: inline;
  cursor: pointer;
  padding: 4px;
}
.markerLabel {
  padding-left: 6px;
  display: table-cell;
  vertical-align: middle;
  font-weight: 300;
  font-size: 10pt;
  user-select: none;
  cursor: pointer;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
}
.headerButton {
  cursor: pointer;
}
.listArray {
  margin-top: 80px;
}

.box {
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  background-color: #FFFFFF;
  color: #080808;
  position: relative;
}
.blockquote {
  padding:8px;
  display: block;
  -webkit-margin-start: 4px;
  -webkit-margin-end: 4px;
  color: #383838;
  border-radius: 2px;
}
.noteText {
  display: block;
  margin-left:10px;
}
.modified {
  margin-left:auto;
  flex:1;
  text-align: right
}
.header {
  font-size: 15px;
  border-bottom: 1px solid #DDDDDD;
  color: #686868;
  height:48px;
}
.headerText, .headerMenuTitle {
  line-height: 24px;
}
.headerText {
  /* what is this I don't even */
  vertical-align: super;
  display: none;
  
}
.edit {
  margin-left: auto;
  justify-content: space-between;
  flex: 1;
  text-align: right;
}
.headerButton:hover .headerText {
  color: #DA1B2C;
}
.headerButton:hover .headerIcon {
  fill: #DA1B2C;
}

.gutter, .content, .header {
  padding:10px;
}

.gutter, .header {
  display:flex;
  justify-content: space-between;
  width:100%;
}
.gutter {
  border-top: 1px solid #DDDDDD;
  font-size: 12px;
  line-height: 17px;
  color: #686868;
}
.content {
  
}
.location {

}
.headerIcon {
  fill: #666666;
  margin: 0px 8px;
}
.headerIcon:hover {
  /* TODO fix hover fill on icons 
  fill: #DA1B2C;*/

}

.selectedText {
  font-size: 12px;
  padding: 4px;
}

.sidebarOpen {
  width: auto;
}
.sidebarClosed {
  width: 50px;
  background-color: blue;
}


/* This is for when we have more than one menu option and can therefore justify a menu  */
.editMenu {
  position:absolute;
  right: 0;
  top: 36px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  border-radius: 2px;
  display:none;
}
.editList {
  list-style: none;
}
.editListItem {
  padding: 8px;
  cursor: pointer;
  line-height: 19px;
  color: #4A4A4A;
}
.editListItem:hover {
  color: #DA1B2C;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .highlightWrap {
    max-width: 700px;
    flex-direction: column;
  }
  .editListItem {
    padding: 8px 24px;
  }
  .headerText {
    display: inline;
  }
  .blockquote {
    -webkit-margin-start: 10px;
    -webkit-margin-end: 40px;
    color: #383838;
  } 

  .sidebarWrap {
    display: flex;
    flex: 1;
    align-content: flex-start;
  }
  .sidebar {
    position: fixed;
    width: 180px;
    margin: 10px 0px;
    padding: 16px;
    padding-bottom:50px;
    background-color: #152A34;
    color: #FFFFFF;
  }

  .sidebarTitle {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 12px;
    display: block;
  }
  .sidebarSection {
    display:block;
  }
  .listArray {
    margin-left: 180px;
    margin-top: 0px;
  }
  

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .highlightWrap {
    max-width: 900px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}