
.card {
  height: auto;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
  

.cardTitle {
  padding: 18px 23px; 
  position: relative;
  display: flex;
  vertical-align: baseline;
  cursor: pointer;

}

.titleText {
  flex: 3;
  font-weight: normal;
  font-size: 18px;
  color: #080808;
  padding: 0;
  margin-left: 8px;
}

  .cardTitle.divider {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 18px;  
  }
  
  .headerButton {
    margin: -5px 0 -5px 5px;
    flex : 1;
    text-align: right;
  }
  
  .content {
    padding: 23px;
    padding-top: 0; 
    box-sizing: border-box;
    color: #383838;
  }
  
 