
/* :: Mobile First ::  */

.button, a.button {
  display: inline-block;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 15px;
  height: 34px;
  line-height: 33px;
  padding: 0 15px;
  margin: 5px;
  
  border: none;
  border-radius: 3px; 
  -webkit-border-radius: 3px; 
  -ms-border-radius: 3px; 
  -moz-border-radius: 3px;  
  
  text-decoration: none;
  cursor: pointer;
}

.button:hover, a.button:hover {
  opacity: 0.8; 
}

.button:disabled:hover, a.button:disabled:hover {
  opacity: 1; 
  cursor: default;
}

.button:focus, a.button:focus {
  outline: none;
  box-shadow:   0 0 6px rgba(0,117,142,1);  /* teal glow */
}

.button.primary, a.button.primary {
  color: #ffffff;
  background: #00758E;  
}

.button.primary:disabled, a.button.primary:disabled {
  color: #ffffff;
  background: #dddddd;  
}


/* :: Custom, iPhone Retina :: */ 
@media only screen and (min-width : 320px) {
  
}

/* :: Extra Small Devices, Phones :: */ 
@media only screen and (min-width : 480px) {

}

/* :: Small Devices, Tablets :: */
@media only screen and (min-width : 768px) {

}

/* :: Medium Devices, Desktops :: */
@media only screen and (min-width : 992px) {

}

/* :: Large Devices, Wide Screens :: */
@media only screen and (min-width : 1200px) {

}