.sidebarWrap {
  display: flex;
  flex: 1;
}
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  padding: 10px;

  background-color: #152A34;
  color: #FFFFFF;
}
.sidebarSection {
  display: flex;
  flex: 1;
}
.sidebarTitle {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  display: block;
}
.listItem {
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  margin-left: 2px;
  cursor: pointer;
  user-select: none;
}
.listItem .check {
  align-content: flex-end;
}
.optionsWrap {
  display: block;
}


/* :: Custom, iPhone Retina :: */ 
@media only screen and (min-width : 320px) {
  
}

/* :: Extra Small Devices, Phones :: */ 
@media only screen and (min-width : 480px) {

}

/* :: Small Devices, Tablets :: */
@media only screen and (min-width : 768px) {

  .listItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-left: 2px;
    font-weight: 300;
    color: #EEEEEE;
  }
  .sidebarTitle {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 12px;
    display: block;
  }
}
/* :: Medium Devices, Desktops :: */
@media only screen and (min-width : 992px) {

}

/* :: Large Devices, Wide Screens :: */
@media only screen and (min-width : 1200px) {

}